/*sidebar css start*/
.sidebar{
    background: white;
    width: var(--sidebar-width);
    position: fixed;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    padding-top: var(--menu-top-size);
    z-index: 1;
    
}

.sidebar ul{
    padding: 0px;
    margin-top: 0px;
}

.sidebar ul li{
    list-style-type: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 20px;
    cursor: pointer;
}

.sidebar ul a{
    text-decoration: none;
    color: inherit;
}

.sidebar ul li:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar ul li.sidebar-menu-active{
    background-color: #E5E5E5;
}

.sidebar ul li i{
    margin-right: 15px;
    font-size: 18px;
}

.sidebar-hr{
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar:hover{
    overflow: auto;
}

@media screen and (max-width: 992px) {
    .vi-container, .vi-container-vertical{
        margin-left: inherit;
    }

    .sidebar{
        display: none;
    }
}
/*sidebar css end*/